@import 'vars';

.navigation {
  width: 22.5%;
  background-color: var(--bg-secondary-color);
  height: 100vh;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-container {
    margin-top: 2rem;
  }

  &-link {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }

  &-item {
    padding: 1rem;
    border-radius: 10px;
    margin: 10px 0;

    &-selected {
      background-color: var(--primary-color);
      font-weight: 900;
    }
  }

  &-item:hover {
    background-color: var(--primary-color);
    font-weight: 900;
  }
}

.form {

  &-search {
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: var(--sub-text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
  }
}

.mobile {

  &-menu {
    display: none;
  }
}

@media only screen and (max-width: 1025px) {

  .navigation {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 769px) {

  .navigation {
    width: 30%;
    position: fixed;
  }
}

@media only screen and (max-width: 615px) {

  .navigation {
    display: none;
    width: 100%;
  }

  .close {
    display: none;
    font-size: 2rem;
  }

  .mobile-menu {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background: white;
  }
}
