@import 'reset';
@import 'vars';
@import 'navigation';

html {
  background-color: var(--primary-color);
}

h1, h2 {
  color: var(--main-title-color);
}

p {
  color: var(--main-text-color);
}

body {
  font-family: Barlow, sans-serif;
  font-size: var(--standard-text);
  margin: 0;
  display: flex;
}

header {
  margin-bottom: 16px;
}

h1 {
  font-size: var(--main-title);
  font-weight: bold;
}

h3 {
  font-weight: 600;
  font-size: var(--sub-title);
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.icon {
  margin-right: 1.5rem;
  font-size: 2rem;

  &-green {
    color: var(--green);
  }

  &-yellow {
    color: var(--yellow);
  }

  &-red {
    color: var(--red);
  }

  &-blue {
    color: var(--cyan);
  }

  &-orange {
    color: var(--orange);
  }

  &-grey {
    color: var(--grey);
  }

  &-search {
    float: right;
    margin-right: 10px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    color: var(--dark-blue);
  }
}

.dashboard {
  width: 100%;
  max-width: 1305px;
  padding: 0 66px 0 40px;
  background-color: var(--primary-color);

  &-columns {
    display: flex;
    flex-direction: row;

    &-column {
      width: 100%;
      max-width: 591px;
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &-block {
    width: 100%;
    margin-bottom: 24px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 18px 16px 16px;
  width: 50%;
  max-width: 288px;
  margin-bottom: 1.5rem;
  font-weight: 500;

  &-yellow {
    background-color: var(--block-yellow);

    & div div p, & div div i {
      color: var(--yellow);
    }
  }

  &-blue {
    background-color: var(--block-blue);

    & div div p, & div div i {
      color: var(--blue);
    }
  }

  &-purple {
    background-color: var(--block-purple);

    & div div p, & div div i {
      color: var(--purple);
    }
  }

  &-green {
    background-color: var(--block-green);

    & div div p, & div div i {
      color: var(--green);
    }
  }

  &-link {
    display: flex;
    justify-content: flex-end;
    font-size: var(--sub-text);
    color: var(--link-color);
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    &-item {
      display: flex;

      & i {
        margin-left: 1.5rem;
      }
    }
  }
}

.label {
  padding: 5px;
  border-radius: 10px;
  font-size: var(--sub-text);
  font-weight: bold;

  &-red {
    background-color: var(--label-red);
    color: var(--red);
  }
}

.profile {
  display: flex;
  align-items: center;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  &-picture {
    background-image: url(../assets/img/profile_pic.jpg);
    background-size: contain;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }

  &-name {
    font-size: 20px;
    font-weight: 500;
  }

  &-icon {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--dark-blue);
    border-radius: 10px;
    margin-right: 0;
  }
}

.progress {
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 1rem;
  width: 10rem;

  &-bar {
    height: 100%;
    width: 90%;
    border-radius: 10px;

    &-yellow {
      background-color: var(--yellow);
    }

    &-green {
      background-color: var(--green);
    }
  }
}

.card {
  background-color: var(--bg-secondary-color);
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;

  &-container {
    padding-left: 7px;
    padding-top: 6px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &-link {
    display: flex;
    text-decoration: none;
    color: var(--link-color);
    align-items: center;
  }

  &-subtitle {
    color: var(--sub-text-color);
    font-size: var(--sub-text);
    font-weight: 500;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0;

    & ol {
      margin-left: 2rem;
      font-size: 20px;
      width: 100%;
    }

    & ol li {
      font-style: italic;
      list-style-type: decimal;
      margin-bottom: 2rem;
      color: var(--main-text-color);
    }

    & ol li:last-child {
      font-style: italic;
      list-style-type: decimal;
      margin-bottom: 0;
    }

    & ol li div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-container {
      padding: 0 10px;
    }
  }

  &-item:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 1580px) {

  .block {
    width: 49%;
  }
}

@media only screen and (max-width: 1290px) {

  .block {
    width: 100%;
    max-width: 100%;
  }

  .dashboard {
    padding: 0 2%;
  }

  .card {

    &-link p {
      font-size: 12px;
    }

    &-subtitle {
      font-size: 12px;
    }

    &-item ol li {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 1024px) {

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  .profile-name {
    font-size: 14px;
  }
}

@media only screen and (max-width: 769px) {

  .dashboard {
    width: 70%;
    margin-left: auto;
    padding: 25px;

    &-columns {
      flex-direction: column;
    }
  }

  .block {
    width: 49%;
  }

  .card {

    &-link p {
      font-size: initial;
    }

    &-subtitle {
      font-size: initial;
    }
  }
}

@media only screen and (max-width: 750px) {

  .card {

    &-link p {
      font-size: 12px;
    }

    &-subtitle {
      font-size: 12px;
    }

    &-item ol li {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 615px) {

  .dashboard {
    width: 100%;
    margin-left: auto;
    padding: 25px;

    &-columns {
      flex-direction: column;
    }
  }

  .card {

    &-link p {
      font-size: initial;
    }

    &-subtitle {
      font-size: initial;
    }
  }
}

@media only screen and (max-width: 530px) {

  .card {
    padding: 5px;

    &-link p {
      font-size: 12px;
    }

    &-subtitle {
      font-size: 12px;
    }

    &-container {
      padding-left: 0;
    }

    &-item {

      &-container {
        padding: 0;
      }
    }

    &-item ol li {
      font-size: 15px;
    }
  }

  .dashboard {
    padding: 15px;
  }

  .block {
    width: 100%;
  }
}

@media only screen and (max-width: 370px) {

  .label {
    margin-bottom: 10px;
  }

  .card {
    padding: 15px;

    &-item {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      text-align: left;
    }

    &-subtitle {
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 400;
    }

    &-link p {
      font-size: 14px;
    }
  }

  .subtitle {
    font-weight: 900;
  }

  .card-item .card-subtitle {
    width: 100%;
    text-align: left;
  }
}
