:root {
  /* colors */
  --blue: #165f8b;
  --orange: #ff864f;
  --yellow: #ffae00;
  --purple: #be1f7a;
  --green: #76c357;
  --red: #fe0000;
  --cyan: #3d00ff;
  --grey: #b0bdec;
  --dark-blue: #3d4c80;
  --primary-color: #f6f6fb;
  --bg-secondary-color: white;
  --sub-text-color: #aab0c7;
  --link-color: #0c163d;
  --main-text-color: #3d4c80;
  --main-title-color: #0c163d;
  --block-yellow: rgb(255, 163, 0, .15);
  --block-blue: rgb(22, 95, 139, .15);
  --block-purple: rgb(190, 31, 122, .15);
  --block-green: rgb(118, 195, 87, .15);
  --label-red: rgb(255, 0, 0, .15);
  --border-color: rgb(61, 76, 128, .09);

  /* fontsizes */
  --standard-text: 16px;
  --sub-text: 14px;
  --main-title: 32px;
  --sub-title: 24px;
}
